/* App.css */
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    color: rgb(32, 60, 138);
    text-align: center;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.GameDisplay {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    gap: 1px;
    background-color: black;
    border: 2px solid black;
    margin-bottom: 20px;
}

.GameOver {
    font-size: 24px;
    font-weight: bold;
    color: red;
}