/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #226F54;
}

.bloc-page {
    background: #FFF;
    border-radius: 12px;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.23);
}

.header h1 {
    color: #226F54;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.header p {
    color: #22577A;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}


.game-details {
    color: #226F54;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board {
    height: 100%;
    width: 100%;
    display: grid;
    background: #BBB5BD;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.food {
    background: #DA2C38;
    border-radius: 50px;
}

.play-board .head {
    background: #22577A;
    border-radius: 2px;
}

.controls {
    display: none;
    justify-content: space-between;
}

.controls i {
    padding: 25px 0;
    text-align: center;
    font-size: 1.3rem;
    color: #B8C6DC;
    width: calc(100% / 4);
    cursor: pointer;
    border-right: 1px solid #171B26;
}

.start-button {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #226F54;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.start-button:hover {
    background-color: #1A503E;
    transform: rotate(1.23deg);
}

.game-over-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F9F8F8;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.game-over-popup h2 {
    margin-bottom: 10px;
    color: #226F54;
}

.game-over-popup p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #22577A;
}

.restart-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #226F54;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.restart-button:hover {
    background-color: #1A503E;
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: #226F54;
}

.footer a {
    color: #226F54;
    text-decoration: none;
    padding: 0 5px;
}

.footer a:hover {
    color: #22577A;
}

.footer p {
    font-weight: 300;
    font-size: 0.8rem;
}

@media screen and (max-width: 800px) {
    .wrapper {
        width: 90vmin;
        height: 115vmin;
    }

    .game-details {
        font-size: 1rem;
        padding: 15px 27px;
    }

    .controls {
        display: flex;
    }

    .controls i {
        padding: 15px 0;
        font-size: 1rem;
    }
}